#忽略PCB部分
/PCB/22GD/src/__Previews/*
/PCB/22GD/__Previews/*
/PCB/22GD/History/*
/PCB/Test1/src/__Previews/*
/PCB/Test1/__Previews/*
/PCB/Test1/History/*
/PCB/Test1/Project Logs for Test1/*
/PCB/Test1/Project Outputs for Test1/*

#忽略MDK编译文件
/project/MDK/DebugConfig/*
/project/MDK/Listings/*
/project/MDK/Objects/*
/project/MDK/22GD.uvguix.maqy0

#忽略VScode部分
/project/MDK/.vscode/keil-assistant.log
/project/MDK/.vscode/uv4.log
/project/MDK/.vscode/uv4.log.lock

#忽略Proteus仿真文件
/Proteus/*

#忽略Repo元件库文件
/Repo/*

#忽略CubeMX引脚分配用文件
/Project/Pin/*