#忽略PCB部分
PCB/22GD/src/__Previews
PCB/22GD/__Previews
PCB/22GD/History
PCB/22GD/Project Logs for 22GD
PCB/22GD/Project Outputs for 22GD
PCB/Test1/src/__Previews
PCB/Test1/__Previews
PCB/Test1/History
PCB/Test1/Project Logs for Test1
PCB/Test1/Project Outputs for Test1
*.PcbDoc.htm

#忽略MDK编译文件
Project/MDK/DebugConfig
Project/MDK/Listings
Project/MDK/Objects
Project/MDK/*.uvguix.*
*scvd

#忽略VScode部分
*.log
*.log.lock

#忽略Proteus仿真文件
Proteus

#忽略Repo元件库文件
Repo

#忽略CubeMX引脚分配用文件
Project/Pin

#Tex编译过程文件
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.thm
*.toc

#PDF暂不管理
*.pdf

*.tmp

#word临时文件
~$*

#matlab历史记录
*.asv